<?xml version="1.0"?>
<!--
/**
 * RalOption plugin for Magento 
 *
 * @package     Yireo_RalOption
 * @author      Yireo
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config>
    <modules>
        <Yireo_RalOption>
            <version>0.3.5</version>
        </Yireo_RalOption>
    </modules>

    <global>
        <blocks>
            <raloption>
                <class>Yireo_RalOption_Block</class>
            </raloption>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Yireo_RalOption_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                </rewrite>
            </adminhtml>
        </blocks>

        <helpers>
            <raloption>
                <class>Yireo_RalOption_Helper</class>
            </raloption>
        </helpers>

        <models>
            <raloption>
                <class>Yireo_RalOption_Model</class>
            </raloption>
            <catalog>
                <rewrite>
                    <product_option>Yireo_RalOption_Model_Catalog_Product_Option</product_option>
                </rewrite>
            </catalog>
        </models>

        <resources>
            <raloption_setup>
                <setup>
                    <module>Yireo_RalOption</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </raloption_setup>
            <raloption_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </raloption_write>
            <raloption_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </raloption_read>
        </resources>

        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <raloption_observer>
                        <type>singleton</type>
                        <class>Yireo_RalOption_Observer_AddOptionBlock</class>
                        <method>execute</method>
                    </raloption_observer>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <raloption_observer>
                        <type>singleton</type>
                        <class>Yireo_RalOption_Observer_ReplaceTags</class>
                        <method>execute</method>
                    </raloption_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_quote_item_save_before>
                <observers>
                    <raloption_handle_quoteitem_raloption_pricing>
                        <type>singleton</type>
                        <class>Yireo_RalOption_Observer_QuoteItem_PriceHandler</class>
                        <method>execute</method>
                    </raloption_handle_quoteitem_raloption_pricing>
                </observers>
            </sales_quote_item_save_before>
        </events>

        <catalog>
            <product>
                <options>
                    <custom>
                        <groups>
                            <raloption translate="label" module="adminhtml">
                                <label>RALoption</label>
                                <types>
                                    <ralcolor translate="label" module="raloption">
                                        <label>RALoption Color</label>
                                    </ralcolor>
                                </types>
                            </raloption>
                        </groups>
                    </custom>
                </options>
            </product>
        </catalog>
    </global>

    <frontend>
        <layout>
            <updates>
                <raloption>
                    <file>raloption.xml</file>
                </raloption>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Yireo_RalOption>
                    <files>
                        <default>Yireo_RalOption.csv</default>
                    </files>
                </Yireo_RalOption>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <raloption translate="title" module="raloption">
                                            <title>RalOption</title>
                                        </raloption>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <catalog>
            <raloption>
                <sorting>none</sorting>
                <palette>palette1</palette>
                <disclaimer>Disclaimer: Note that the displayed colors may differ from the actual RAL-colors</disclaimer>
                <enable_css>1</enable_css>
                <enable_jquery>1</enable_jquery>
                <enable_fancybox>1</enable_fancybox>
            </raloption>
        </catalog>
    </default>
</config>
